body {
	background-color: #ebebd6;
}

h1, h2 { 
	font-family: Russo One, Helvetica, Arial;
	clear: both;
}

p, li, th, td {
	font-family: Helvetica, Arial;
	font-size: 18px;
}

a:link, a:visited {
	color: #00aaa3;
	text-decoration: none;
}

a:hover, a:active {
	color: red;
}

ul.nav  {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.nav li {
	float: left;
	text-align: center;
}

ul.nav a:link, ul.nav a:visited {
	display: block;
	width: 165px;
	color: white;
	background-color: #0014aa;
	padding: 3px;
	text-decoration: none;
}

ul.nav a:hover, ul.nav a:active {
	background-color: #00aaa3;
}

img {
	margin:22px 10px 10px 0px;
	float: left;
}

div.container {
	width: 700px;
	margin: auto;
}

table {
	width: 100%;
}

table td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}
blockquote {
font-family: helvetica;
	line-height: 1.5;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}